In [1]:
list1 = [1,2,3,4,5]
list1

[1, 2, 3, 4, 5]

In [3]:
type(list1)

list

In [5]:
list2 = [1,1.23, "gitam", "hyd"] # heterogeneous types
list2

[1, 1.23, 'gitam', 'hyd']

In [12]:
# accessing list elements
list1 = [1,2,3,4,5]
print(list1[0])
print(list1[-1])
print(list1[-2])
print(list1[-3])
print(list1[-4])
print(list1[-5])

1
5
4
3
2
1

In [13]:
list1 = [1,2,3,4,5]
list1[0:5:2]

[1, 3, 5]

In [15]:
list=[1,2,3,4,5]
list[0:3]

[1, 2, 3]

In [16]:
list1 = [1,2,3,4,5]
len(list1)

5

In [17]:
print(list*2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [18]:
4 in list1

True

In [23]:
list1 = [1,2,3,4,5]
for i in range(len(list1)):
    print(list1[i])

1
2
3
4
5

In [26]:
list1=[1,2,3,4,5]
print(max(list1))
print(min(list1))
print(sum(list1))

5
1
15

In [40]:
list1 = [1,2,3,4,5,6]
list1.append(5)
list1.insert(3,5)
list1

[1, 2, 3, 5, 4, 5, 6, 5]

In [42]:
list1.insert(0,0)
list1

[0, 1, 2, 2, 3, 5, 4, 5, 6, 5]

In [58]:
list1.pop(1)

2

In [49]:
list4=[1,2,3,4,5]
list4.extend([6,7,8])
list4

[1, 2, 3, 4, 5, 6, 7, 8]

In [61]:
list4.pop(2)

3

In [63]:
list4.pop(2)

5

In [67]:
li=[10,20,30,40,50]
print(li)
li.reverse()
li

[10, 20, 30, 40, 50]

[50, 40, 30, 20, 10]

In [73]:
li=[10,50,1,5]
li.sort()
li

[1, 5, 10, 50]

In [77]:
li[::-1]

[50, 10, 5, 1]

In [78]:
help("list")

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=2147483647, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [79]:
tuple1=(1,2,3,4,5)
print(tuple1)
type(tuple1)

(1, 2, 3, 4, 5)

tuple

In [89]:
tuple2=(1,1.5,"hyd")
print(tuple2)
tuple2[0:2]
tuple2[::-1]

(1, 1.5, 'hyd')

('hyd', 1.5, 1)

In [91]:
d1={"name":"gitam","roll-no.":1234,"address":"hyd"}
d1

{'name': 'gitam', 'roll-no.': 1234, 'address': 'hyd'}

In [92]:
d1["name"]

'gitam'

In [93]:
d1["email"]="gitam@gmail.com"

In [94]:
print(d1)

{'name': 'gitam', 'roll-no.': 1234, 'address': 'hyd', 'email': 'gitam@gmail.com'}

In [96]:
d1["course"]="python"
print(d1)

{'name': 'gitam', 'roll-no.': 1234, 'address': 'hyd', 'email': 'gitam@gmail.com', 'course': 'python'}

In [100]:
(d1)

{'name': 'gitam',
 'roll-no.': 1234,
 'address': 'hyd',
 'email': 'gitam@gmail.com',
 'course': 'python'}

In [102]:
d1.keys()

dict_keys(['name', 'roll-no.', 'address', 'email', 'course'])

In [103]:
d1.values()

dict_values(['gitam', 1234, 'hyd', 'gitam@gmail.com', 'python'])

In [104]:
d1.items()

dict_items([('name', 'gitam'), ('roll-no.', 1234), ('address', 'hyd'), ('email', 'gitam@gmail.com'), ('course', 'python')])

In [110]:
print(d1)
del d1["name"]

{'roll-no.': 1234, 'address': 'hyd', 'email': 'gitam@gmail.com', 'course': 'python'}

KeyError: 'name'

In [112]:
d1

{'roll-no.': 1234,
 'address': 'hyd',
 'email': 'gitam@gmail.com',
 'course': 'python'}

In [128]:
n=int(input(""))
f=1
i=1
while i<=n:
    f=f*i
    i=i+1
print(f)

5
120

In [13]:

def factorial(n):
    f=1
    i=1
    while i<=n:
        f=f*i
        i=i+1
    return f
factorial(5)

120

In [15]:
def digitfactorsum(n):
    s = 0
    buffer = n
    while n!= 0:
        r = n%10
        s = s +factorial(r)
        n = n//10
    if buffer == s:
        print("strong number")
    else:
        print("not a strong number")
digitfactorsum(145)

strong number

In [19]:
s1="python"
print(s1)
type(s1)

python

str

In [23]:
s1="python"
print(s1)
print(s1[1:])
print(s1[2:])
print(s1[3:])
print(s1[1::2])

python
ython
thon
hon
yhn

In [25]:
s1[1:-1]
s1[0:5:2]

'pto'

In [26]:
str1="python"
print(str1)
print(str1[::-1])
if str1 ==str1[::-1]:
    print("palindrome")
else:
    print("not palindrome")

python
nohtyp
not palindrome

In [28]:
str1="malayalam"
print(str1)
print(str1[::-1])
if str1 ==str1[::-1]:
    print("palindrome")
else:
    print("not palindrome")

malayalam
malayalam
palindrome

In [29]:
s1="python"
s2="py123thon"
s3="123"
print(s1.isnumeric())
print(s2.isnumeric())
print(s3.isnumeric())

False
False
True